In [ ]:
#this file formats the raw NUR vital file

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df1 = pd.read_excel(
     '../nur_vitals.xlsx',
     engine='openpyxl', sheet_name = 'NUR_vitals'
)

In [3]:
df1

,pt_identifier,Date,Time,Interv,td.locat,BP,Pulse,Respir,O2Sat,Temper,Temp_Source,ABP_sys,ABP_Dis
0,H1002797,20/11/20,45,1001851,H.SURG,128/75,62.0,18.0,98.0,36.9,O,NaN,NaN
1,H1002797,19/11/20,1555,1001851,H.SURG,131/78,56.0,18.0,98.0,36.9,O,NaN,NaN
2,H1002797,19/11/20,1404,1001851,H.SURG,138/78,79.0,18.0,94.0,36.6,O,NaN,NaN
3,H1002797,20/11/20,415,1001851,H.SURG,140/82,59.0,18.0,94.0,36.9,O,NaN,NaN
4,H1002797,19/11/20,854,1001851,H.SURG,144/87,76.0,18.0,94.0,36.9,O,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236840,Z991743,02/02/21,1624,1001851,H.MED3,156/68,70.0,16.0,94.0,36.5,O,NaN,NaN
236841,Z991743,01/02/21,1858,1001851,H.MED3,157/66,74.0,18.0,95.0,36.9,O,NaN,NaN
236842,Z991743,03/02/21,933,1001851,H.MED3,159/65,63.0,16.0,95.0,36.5,O,NaN,NaN
236843,Z991743,02/02/21,1234,1001851,H.MED3,171/74,70.0,18.0,95.0,36.4,O,NaN,NaN
236844,Z991743,05/02/21,754,1001851,H.MED3,174/70,69.0,16.0,92.0,36.7,O,NaN,NaN

In [4]:
del df1['td.locat']
del df1["Temp_Source"]
del df1["Interv"]

In [5]:
rows = len(df1.index)
df1

,pt_identifier,Date,Time,BP,Pulse,Respir,O2Sat,Temper,ABP_sys,ABP_Dis
0,H1002797,20/11/20,45,128/75,62.0,18.0,98.0,36.9,NaN,NaN
1,H1002797,19/11/20,1555,131/78,56.0,18.0,98.0,36.9,NaN,NaN
2,H1002797,19/11/20,1404,138/78,79.0,18.0,94.0,36.6,NaN,NaN
3,H1002797,20/11/20,415,140/82,59.0,18.0,94.0,36.9,NaN,NaN
4,H1002797,19/11/20,854,144/87,76.0,18.0,94.0,36.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
236840,Z991743,02/02/21,1624,156/68,70.0,16.0,94.0,36.5,NaN,NaN
236841,Z991743,01/02/21,1858,157/66,74.0,18.0,95.0,36.9,NaN,NaN
236842,Z991743,03/02/21,933,159/65,63.0,16.0,95.0,36.5,NaN,NaN
236843,Z991743,02/02/21,1234,171/74,70.0,18.0,95.0,36.4,NaN,NaN
236844,Z991743,05/02/21,754,174/70,69.0,16.0,92.0,36.7,NaN,NaN

In [6]:
df2 = pd.DataFrame(data=[], columns= ['pt_identifier', 'Date', 'Time', 'BP1', 'BP2', 'Pulse', 'Temp', 'RR', 'O2Sat'])

In [7]:
df2

Empty DataFrame
Columns: [pt_identifier, Date, Time, BP1, BP2, Pulse, Temp, RR, O2Sat]
Index: []

In [8]:
rows

236845

In [9]:
def extract_vitals(df1, i):
    p_id = df1.iloc[i][0]
    date = df1.iloc[i][1]
    time = df1.iloc[i][2]
    pulse = df1.iloc[i][4]
    rr = df1.iloc[i][5]
    o2sat = df1.iloc[i][6]
    temp = df1.iloc[i][7]
    
    if df1.iloc[i][3]:
        pre_bp = df1.iloc[i][3]
        if type(pre_bp) == float and math.isnan(pre_bp)==False:
            manual_bp = str(pre_bp)
            x = manual_bp.split("/")
            if len(x)==2:
                bp1 = float(x[0])
                bp2 = float(x[1])
            else:
                bp1 = None
                bp2 = None
        elif type(pre_bp) == str:
            manual_bp = str(pre_bp)
            if "E" in manual_bp:
                manual_bp = manual_bp.replace("E", "")
                manual_bp = manual_bp.strip()
            x = manual_bp.split("/")
            if len(x)==2:
                bp1 = float(x[0])
                bp2 = float(x[1])
            else:
                bp1 = None
                bp2 = None
        else:
            bp1 = None
            bp2 = None

    elif df1.iloc[i][8] and df1.iloc[i][9] and math.isnan(df1.iloc[i][8])==False and math.isnan(df1.iloc[i][9])==False:
        bp1 = df1.iloc[i][8]
        bp2 = df1.iloc[i][9]

    else:
        bp1 = None
        bp2 = None
    


    
    p_vitals = [p_id, date, time, bp1, bp2, pulse, temp, rr, o2sat]
    return p_vitals

In [10]:
i = 0
while i < rows:
    p_vitals = extract_vitals(df1, i)
    df2 = df2.append({'pt_identifier': p_vitals[0], 'Date': p_vitals[1],
                      'Time': p_vitals[2], 'BP1': p_vitals[3], 'BP2': p_vitals[4],
                      'Pulse': p_vitals[5], 'Temp': p_vitals[6], 'RR': p_vitals[7],
                      'O2Sat': p_vitals[8]}, ignore_index=True)
    i += 1

In [ ]:
df2.iloc[105500:105550]

In [11]:
df2.to_csv('2.csv')#formatted_good_nur_vitalsall.csv

In [ ]:
# run time approx 5 minutes for 75,000 rows