In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df1 = pd.read_csv(
     '../FormattedData/formatted_edm_vitals.csv',
)

In [3]:
df1

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat
0,0,H1000412,31/12/20,2359,116.0,84.0,88.0,36.9,17.0,97.0
1,1,H1000412,01/01/21,351,126.0,64.0,69.0,37.0,10.0,94.0
2,2,H1002797,08/12/20,1725,147.0,91.0,63.0,NaN,18.0,97.0
3,3,H1002797,11/01/21,1635,140.0,82.0,57.0,36.8,18.0,98.0
4,4,H1002797,11/01/21,1851,137.0,81.0,58.0,36.8,17.0,97.0
...,...,...,...,...,...,...,...,...,...,...
17678,17678,Z97963,16/02/21,939,127.0,72.0,81.0,37.0,18.0,96.0
17679,17679,Z98294,07/12/20,125,132.0,113.0,58.0,NaN,22.0,NaN
17680,17680,Z98294,07/12/20,255,177.0,81.0,79.0,NaN,NaN,NaN
17681,17681,Z98294,07/12/20,509,158.0,89.0,76.0,NaN,16.0,NaN
17682,17682,Z98294,07/12/20,813,143.0,86.0,72.0,36.4,20.0,NaN

In [4]:
del df1["Unnamed: 0"]

In [5]:
df1

      pt_identifier      Date  Time    BP1    BP2  Pulse  Temp    RR  O2Sat
0          H1000412  31/12/20  2359  116.0   84.0   88.0  36.9  17.0   97.0
1          H1000412  01/01/21   351  126.0   64.0   69.0  37.0  10.0   94.0
2          H1002797  08/12/20  1725  147.0   91.0   63.0   NaN  18.0   97.0
3          H1002797  11/01/21  1635  140.0   82.0   57.0  36.8  18.0   98.0
4          H1002797  11/01/21  1851  137.0   81.0   58.0  36.8  17.0   97.0
...             ...       ...   ...    ...    ...    ...   ...   ...    ...
17678        Z97963  16/02/21   939  127.0   72.0   81.0  37.0  18.0   96.0
17679        Z98294  07/12/20   125  132.0  113.0   58.0   NaN  22.0    NaN
17680        Z98294  07/12/20   255  177.0   81.0   79.0   NaN   NaN    NaN
17681        Z98294  07/12/20   509  158.0   89.0   76.0   NaN  16.0    NaN
17682        Z98294  07/12/20   813  143.0   86.0   72.0  36.4  20.0    NaN

[17683 rows x 9 columns]

In [6]:
df2 = pd.read_csv(
     '../FormattedData/formatted_good_nur_vitalsall.csv',
)

In [7]:
df2

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat
0,0,H1002797,20/11/20,45,128.0,75.0,62.0,36.9,18.0,98.0
1,1,H1002797,19/11/20,1555,131.0,78.0,56.0,36.9,18.0,98.0
2,2,H1002797,19/11/20,1404,138.0,78.0,79.0,36.6,18.0,94.0
3,3,H1002797,20/11/20,415,140.0,82.0,59.0,36.9,18.0,94.0
4,4,H1002797,19/11/20,854,144.0,87.0,76.0,36.9,18.0,94.0
...,...,...,...,...,...,...,...,...,...,...
236840,236840,Z991743,02/02/21,1624,156.0,68.0,70.0,36.5,16.0,94.0
236841,236841,Z991743,01/02/21,1858,157.0,66.0,74.0,36.9,18.0,95.0
236842,236842,Z991743,03/02/21,933,159.0,65.0,63.0,36.5,16.0,95.0
236843,236843,Z991743,02/02/21,1234,171.0,74.0,70.0,36.4,18.0,95.0
236844,236844,Z991743,05/02/21,754,174.0,70.0,69.0,36.7,16.0,92.0

In [8]:
del df2["Unnamed: 0"]

In [9]:
df2

       pt_identifier      Date  Time    BP1   BP2  Pulse  Temp    RR  O2Sat
0           H1002797  20/11/20    45  128.0  75.0   62.0  36.9  18.0   98.0
1           H1002797  19/11/20  1555  131.0  78.0   56.0  36.9  18.0   98.0
2           H1002797  19/11/20  1404  138.0  78.0   79.0  36.6  18.0   94.0
3           H1002797  20/11/20   415  140.0  82.0   59.0  36.9  18.0   94.0
4           H1002797  19/11/20   854  144.0  87.0   76.0  36.9  18.0   94.0
...              ...       ...   ...    ...   ...    ...   ...   ...    ...
236840       Z991743  02/02/21  1624  156.0  68.0   70.0  36.5  16.0   94.0
236841       Z991743  01/02/21  1858  157.0  66.0   74.0  36.9  18.0   95.0
236842       Z991743  03/02/21   933  159.0  65.0   63.0  36.5  16.0   95.0
236843       Z991743  02/02/21  1234  171.0  74.0   70.0  36.4  18.0   95.0
236844       Z991743  05/02/21   754  174.0  70.0   69.0  36.7  16.0   92.0

[236845 rows x 9 columns]

In [10]:
df3 = pd.read_excel(
     '../ectas_edm_vitals.xlsx',
     engine='openpyxl', sheet_name = 'ectas_vitals'
)

In [11]:
df3

,pt_identifier,Triage D,tTm,BP1,BP2,Pulse,Temp,RR,O2Sat,Unnamed: 9
0,H1608589,12/01/21,2224.0,19.0,82.0,119.0,36.5,18.0,97.0,NaN
1,H3960627,28/11/20,1509.0,25.0,59.0,77.0,36.7,16.0,100.0,NaN
2,Z1600060,09/11/20,813.0,39.0,83.0,84.0,36.7,18.0,98.0,NaN
3,H321816,13/11/20,809.0,41.0,86.0,77.0,36.0,12.0,95.0,NaN
4,H2134707,21/02/21,107.0,52.0,108.0,80.0,NaN,16.0,99.0,NaN
...,...,...,...,...,...,...,...,...,...,...
49840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
del df3["Unnamed: 9"]

In [13]:
df3

      pt_identifier  Triage D     tTm   BP1    BP2  Pulse  Temp    RR  O2Sat
0          H1608589  12/01/21  2224.0  19.0   82.0  119.0  36.5  18.0   97.0
1          H3960627  28/11/20  1509.0  25.0   59.0   77.0  36.7  16.0  100.0
2          Z1600060  09/11/20   813.0  39.0   83.0   84.0  36.7  18.0   98.0
3           H321816  13/11/20   809.0  41.0   86.0   77.0  36.0  12.0   95.0
4          H2134707  21/02/21   107.0  52.0  108.0   80.0   NaN  16.0   99.0
...             ...       ...     ...   ...    ...    ...   ...   ...    ...
49840           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49841           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49842           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49843           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49844           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN

[49845 rows x 9 columns]

In [18]:
df3 = df3.rename(columns={"Triage D": "Date"})

In [19]:
df3 = df3.rename(columns={"tTm": "Time"})

In [20]:
df3

      pt_identifier      Date    Time   BP1    BP2  Pulse  Temp    RR  O2Sat
0          H1608589  12/01/21  2224.0  19.0   82.0  119.0  36.5  18.0   97.0
1          H3960627  28/11/20  1509.0  25.0   59.0   77.0  36.7  16.0  100.0
2          Z1600060  09/11/20   813.0  39.0   83.0   84.0  36.7  18.0   98.0
3           H321816  13/11/20   809.0  41.0   86.0   77.0  36.0  12.0   95.0
4          H2134707  21/02/21   107.0  52.0  108.0   80.0   NaN  16.0   99.0
...             ...       ...     ...   ...    ...    ...   ...   ...    ...
49840           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49841           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49842           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49843           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN
49844           NaN       NaN     NaN   NaN    NaN    NaN   NaN   NaN    NaN

[49845 rows x 9 columns]

In [21]:
df3 = df3.drop(df3.index[8127:])

In [22]:
df3

     pt_identifier      Date    Time   BP1    BP2  Pulse  Temp    RR  O2Sat
0         H1608589  12/01/21  2224.0  19.0   82.0  119.0  36.5  18.0   97.0
1         H3960627  28/11/20  1509.0  25.0   59.0   77.0  36.7  16.0  100.0
2         Z1600060  09/11/20   813.0  39.0   83.0   84.0  36.7  18.0   98.0
3          H321816  13/11/20   809.0  41.0   86.0   77.0  36.0  12.0   95.0
4         H2134707  21/02/21   107.0  52.0  108.0   80.0   NaN  16.0   99.0
...            ...       ...     ...   ...    ...    ...   ...   ...    ...
8122      H4049693  21/11/20  1832.0   NaN    NaN    NaN  36.2  40.0    NaN
8123      H1778774  07/12/20  1650.0   NaN    NaN    NaN  36.7   NaN    NaN
8124      H4073700  23/02/21  1324.0   NaN    NaN    NaN  36.7  28.0   99.0
8125      H3705405  27/01/21  1804.0   NaN    NaN    NaN  37.2  22.0  100.0
8126      Z1751922  19/02/21  1831.0   NaN    NaN    NaN  38.9   NaN    NaN

[8127 rows x 9 columns]

In [23]:
frames = [df1, df2, df3]

In [24]:
df4 = pd.concat(frames, ignore_index=True)

In [25]:
df4

       pt_identifier      Date    Time    BP1   BP2  Pulse  Temp    RR  O2Sat
0           H1000412  31/12/20  2359.0  116.0  84.0   88.0  36.9  17.0   97.0
1           H1000412  01/01/21   351.0  126.0  64.0   69.0  37.0  10.0   94.0
2           H1002797  08/12/20  1725.0  147.0  91.0   63.0   NaN  18.0   97.0
3           H1002797  11/01/21  1635.0  140.0  82.0   57.0  36.8  18.0   98.0
4           H1002797  11/01/21  1851.0  137.0  81.0   58.0  36.8  17.0   97.0
...              ...       ...     ...    ...   ...    ...   ...   ...    ...
262650      H4049693  21/11/20  1832.0    NaN   NaN    NaN  36.2  40.0    NaN
262651      H1778774  07/12/20  1650.0    NaN   NaN    NaN  36.7   NaN    NaN
262652      H4073700  23/02/21  1324.0    NaN   NaN    NaN  36.7  28.0   99.0
262653      H3705405  27/01/21  1804.0    NaN   NaN    NaN  37.2  22.0  100.0
262654      Z1751922  19/02/21  1831.0    NaN   NaN    NaN  38.9   NaN    NaN

[262655 rows x 9 columns]

In [27]:
df4.to_csv('master_without_labs.csv')

In [28]:
df_master = pd.read_excel(
     '../MF_lact_WC_Diag.xlsx',
     engine='openpyxl', sheet_name = 'pt_master_file'
)

In [29]:
df_master

,de_identified,Admission_Date,Discharge_Date,age_code,age_code_desc,age_number,Gender,Wt in Kg,Wt_Date
0,H1000412,2020-12-31,2021-01-01,Y,Years,81,F,NaN,NaN
1,H1002243,2021-02-06,2021-02-08,Y,Years,32,F,73.0,20210206.0
2,H1002797,2020-11-18,2020-11-20,Y,Years,66,F,NaN,NaN
3,H1003037,2021-01-11,2021-01-14,Y,Years,65,M,88.0,20210112.0
4,H1004096,2021-01-14,2021-01-22,Y,Years,57,M,51.0,20210118.0
...,...,...,...,...,...,...,...,...,...
5845,Z97963,2021-02-16,2021-02-17,Y,Years,66,M,109.3,20210216.0
5846,Z98294,2020-12-07,2020-12-10,Y,Years,70,M,61.8,20201210.0
5847,Z98373,2020-11-06,2020-11-10,Y,Years,74,F,75.0,20201107.0
5848,Z991743,2021-02-01,2021-02-05,Y,Years,92,F,63.0,20210205.0
5849,Z992617,2021-03-13,2021-03-14,Y,Years,23,F,103.0,20210313.0

In [30]:
header_list = ["pt_identifier", "Date", "Time", "BP1", "BP2", "Pulse", "Temp", "RR", "O2Sat", "Admission_Date", "Discharge_Date", "Age_Code", "Age_Number", "Gender", "Weight", "LDate", "LTime", "LResult", "LRange", "WDate", "WTime", "WResult", "Diag_Code", "Diag_desc", "Diag_prefix", "Diag_type"]

In [31]:
df4 = df4.reindex(columns = header_list)

In [32]:
df4

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,LTime,LResult,LRange,WDate,WTime,WResult,Diag_Code,Diag_desc,Diag_prefix,Diag_type
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262650,H4049693,21/11/20,1832.0,NaN,NaN,NaN,36.2,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262651,H1778774,07/12/20,1650.0,NaN,NaN,NaN,36.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262652,H4073700,23/02/21,1324.0,NaN,NaN,NaN,36.7,28.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262653,H3705405,27/01/21,1804.0,NaN,NaN,NaN,37.2,22.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262654,Z1751922,19/02/21,1831.0,NaN,NaN,NaN,38.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
big_pt = df4["pt_identifier"].tolist()
small_pt = df_master["de_identified"].tolist()

In [45]:
for i in range(len(big_pt)):
    for j in range(len(small_pt)):
        if big_pt[i] == small_pt[j]:
            df4["Admission_Date"][i] = df_master.iloc[j][1]
            df4["Discharge_Date"][i] = df_master.iloc[j][2]
            df4["Age_Code"][i] = df_master.iloc[j][3]
            df4["Age_Number"][i]= df_master.iloc[j][5]
            df4["Gender"][i] = df_master.iloc[j][6]
            df4["Weight"][i] = df_master.iloc[j][7]
            break

<ipython-input-45-1905eeeb993f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Admission_Date"][i] = df_master.iloc[j][1]
<ipython-input-45-1905eeeb993f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Discharge_Date"][i] = df_master.iloc[j][2]
<ipython-input-45-1905eeeb993f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Age_Code"][i] = df_master.iloc[j][3]
<ipython-input-45-1905eeeb993f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Age_Number"][i]= df_master.iloc[j][5]
<ipython-input-45-1905eeeb993f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Gender"][i] = df_master.iloc[j][6]
<ipython-input-45-1905eeeb993f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Weight"][i] = df_master.iloc[j][7]

In [46]:
df4

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,LTime,LResult,LRange,WDate,WTime,WResult,Diag_Code,Diag_desc,Diag_prefix,Diag_type
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262650,H4049693,21/11/20,1832.0,NaN,NaN,NaN,36.2,40.0,NaN,2020-11-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262651,H1778774,07/12/20,1650.0,NaN,NaN,NaN,36.7,NaN,NaN,2020-10-23 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262652,H4073700,23/02/21,1324.0,NaN,NaN,NaN,36.7,28.0,99.0,2021-02-02 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262653,H3705405,27/01/21,1804.0,NaN,NaN,NaN,37.2,22.0,100.0,2021-02-03 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262654,Z1751922,19/02/21,1831.0,NaN,NaN,NaN,38.9,NaN,NaN,2021-02-20 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_diag = pd.read_excel(
     '../MF_lact_WC_Diag.xlsx',
     engine='openpyxl', sheet_name = 'diagnoses'
)

In [51]:
df_diag

,de_identified,Admission_Date,Discharge_Date,Diagnosis_Code,Diagnosis_Code_Desc,Diagnosis_Prefix,Diagnosis_Prefix_Desc,Diagnosis_Type,Diagnosis_Type_Desc
0,H3566484,2020-05-08,2020-10-09,A41.9,"Sepsis, unspecified",NaN,NaN,1,Pre-Admit Comorbidity
1,H3566484,2020-05-08,2020-10-09,R57.2,Septic shock,NaN,NaN,1,Pre-Admit Comorbidity
2,H1378070,2020-09-29,2020-10-02,A41.9,"Sepsis, unspecified",NaN,NaN,1,Pre-Admit Comorbidity
3,H911067,2020-10-13,2020-10-30,R57.2,Septic shock,NaN,NaN,1,Pre-Admit Comorbidity
4,H2378600,2020-10-24,2020-11-13,A41.9,"Sepsis, unspecified",NaN,NaN,1,Pre-Admit Comorbidity
...,...,...,...,...,...,...,...,...,...
244,Z1020584,2021-01-13,2021-01-15,R57.2,Septic shock,NaN,NaN,M,Most Responsible
245,H758311,2021-01-21,2021-01-23,A41.0,Sepsis due to Staphylococcus aureus,NaN,NaN,M,Most Responsible
246,H3927091,2021-01-29,2021-01-29,A41.9,"Sepsis, unspecified",Q,Questionable Or Query Diagnoses,M,Most Responsible
247,Z1629093,2021-03-05,2021-03-05,A41.9,"Sepsis, unspecified",NaN,NaN,M,Most Responsible
248,H1839435,2021-03-05,2021-03-25,A41.9,"Sepsis, unspecified",NaN,NaN,M,Most Responsible

In [52]:
diag_id = df_diag["de_identified"].tolist()

In [53]:
for i in range(len(big_pt)):
    for j in range(len(diag_id)):
        if big_pt[i] == diag_id[j]:
            df4["Diag_Code"][i] = df_diag.iloc[j][3]
            df4["Diag_desc"][i] = df_diag.iloc[j][4]
            df4["Diag_prefix"][i] = df_diag.iloc[j][5]
            df4["Diag_type"][i]= df_diag.iloc[j][7]
            break

<ipython-input-53-f06107caa839>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Diag_Code"][i] = df_diag.iloc[j][3]
C:\Users\Adam Lam\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
<ipython-input-53-f06107caa839>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Diag_desc"][i] = df_diag.iloc[j][4]
<ipython-input-53-f06107caa839>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Diag_prefix"][i] = df_diag.iloc[j][5]
<ipython-input-53-f06107caa839>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Diag_type"][i]= df_diag.iloc[j][7]

In [54]:
header_list = ["pt_identifier", "Date", "Time", "BP1", "BP2", "Pulse", "Temp", "RR", "O2Sat", "Admission_Date", "Discharge_Date", "Age_Code", "Age_Number", "Gender", "Weight", "Diag_Code", "Diag_desc", "Diag_prefix", "Diag_type"]

In [55]:
df4 = df4.reindex(columns = header_list)

In [56]:
df4.to_csv('all_vitals_info_diag.csv')

In [57]:
df4

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,Discharge_Date,Age_Code,Age_Number,Gender,Weight,Diag_Code,Diag_desc,Diag_prefix,Diag_type
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,2021-01-01 00:00:00,Y,81.0,F,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,2021-01-01 00:00:00,Y,81.0,F,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262650,H4049693,21/11/20,1832.0,NaN,NaN,NaN,36.2,40.0,NaN,2020-11-14 00:00:00,2020-11-15 00:00:00,D,0.0,M,4.235,NaN,NaN,NaN,NaN
262651,H1778774,07/12/20,1650.0,NaN,NaN,NaN,36.7,NaN,NaN,2020-10-23 00:00:00,2020-10-29 00:00:00,Y,48.0,F,65.450,NaN,NaN,NaN,NaN
262652,H4073700,23/02/21,1324.0,NaN,NaN,NaN,36.7,28.0,99.0,2021-02-02 00:00:00,2021-02-04 00:00:00,D,0.0,M,3.190,NaN,NaN,NaN,NaN
262653,H3705405,27/01/21,1804.0,NaN,NaN,NaN,37.2,22.0,100.0,2021-02-03 00:00:00,2021-02-04 00:00:00,Y,4.0,F,17.000,NaN,NaN,NaN,NaN
262654,Z1751922,19/02/21,1831.0,NaN,NaN,NaN,38.9,NaN,NaN,2021-02-20 00:00:00,2021-02-23 00:00:00,Y,2.0,F,18.000,NaN,NaN,NaN,NaN