In [59]:
#this file looks at the time and separates them if the value is over 10,000 minutes away (1 week)

In [60]:
import pandas as pd
import numpy as np
import math

In [61]:
df1 = pd.read_csv(
     '../FormattedData/stage5_ba.csv)'
)

In [62]:
df1

,Unnamed: 0,pt_identifier,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender,Weight,Diag_desc,Most_responsible,pre_admit,post_admit,secondary,Lactate_adjusted,WBC_adjusted
0,0,H1000412,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
1,1,H1000412,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,0.0,0.945455
2,2,H1000412,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
3,3,H1000412,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,0.0,1.090909
4,4,H1000412,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312753,312753,Z991743,129228.0,153.0,64.0,58.0,36.5,16.0,96.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312754,312754,Z991743,129238.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,F,63.0,0,0,0,0,0,0.0,0.800000
312755,312755,Z991743,129966.0,152.0,65.0,63.0,36.6,18.0,94.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312756,312756,Z991743,130680.0,174.0,70.0,69.0,36.7,16.0,92.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312757,312757,Z992617,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0.0,1.190909

In [63]:
del df1["Unnamed: 0"]

In [64]:
df1

,pt_identifier,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender,Weight,Diag_desc,Most_responsible,pre_admit,post_admit,secondary,Lactate_adjusted,WBC_adjusted
0,H1000412,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
1,H1000412,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,0.0,0.945455
2,H1000412,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
3,H1000412,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,0.0,1.090909
4,H1000412,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,F,NaN,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312753,Z991743,129228.0,153.0,64.0,58.0,36.5,16.0,96.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312754,Z991743,129238.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,F,63.0,0,0,0,0,0,0.0,0.800000
312755,Z991743,129966.0,152.0,65.0,63.0,36.6,18.0,94.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312756,Z991743,130680.0,174.0,70.0,69.0,36.7,16.0,92.0,92.0,F,63.0,0,0,0,0,0,0.0,0.000000
312757,Z992617,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0.0,1.190909

In [65]:
rows = len(df1)
rows

312758

In [66]:
print (df1.iloc[0][1])
print (type(df1iiloc05][8]))# df1.iloc[row][column]
print (0.0 == df1.iloc[0][1])9]))

0.0
<class 'numpy.float64'>
True

In [67]:
i=1
date_list = []
date_list.append(df1.iloc[0][1]) []
whilrows:ows:
    value1 = df1.iloc]
    value0 = df1.iloc[i-1][1] 

    if (value1-value0) > 10080:
        subtracted = df1.iloc[i][1]
        date_list.append(0.0)
        new_idx = i+1

        while df1.iloc[new_idx][1] != 0.0 and (df1.iloc[new_idx][1]-df1.iloc[new_idx-1][1])<10080:
            changed_v = df1.iloc[new_idx][1]
            date_list.append(changed_v - subtracted)
            new_idx += 1
            i += 1
    else:
        date_list.append(value1)
   else:

#print(date_list)
        wbc_list.append(float(0))
    

    i+=1

In [68]:
del df1["new_date"]
df1["new_date"] = date_list

In [69]:
df1 = df1[['pt_identifier', 'Diag_desc', 'new_date', 'BP1', 'BP2', 'Pulse', 'Temp', 'RR', 'O2Sat',
       'Age_Number', 'Gender', 'Weight',
       'Most_responsible', 'pre_admit', 'post_admit', 'secondary', 'Lactate_adjusted', 'WBC_adjusted']]

In [70]:
df1

,pt_identifier,Diag_desc,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender,Weight,Most_responsible,pre_admit,post_admit,secondary,Lactate_adjusted,WBC_adjusted
0,H1000412,0,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,F,NaN,0,0,0,0,0.0,0.000000
1,H1000412,0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0.0,0.945455
2,H1000412,0,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,F,NaN,0,0,0,0,0.0,0.000000
3,H1000412,0,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0.0,1.090909
4,H1000412,0,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,F,NaN,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312753,Z991743,0,4209.0,153.0,64.0,58.0,36.5,16.0,96.0,92.0,F,63.0,0,0,0,0,0.0,0.000000
312754,Z991743,0,4219.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,F,63.0,0,0,0,0,0.0,0.800000
312755,Z991743,0,4947.0,152.0,65.0,63.0,36.6,18.0,94.0,92.0,F,63.0,0,0,0,0,0.0,0.000000
312756,Z991743,0,5661.0,174.0,70.0,69.0,36.7,16.0,92.0,92.0,F,63.0,0,0,0,0,0.0,0.000000
312757,Z992617,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0.0,1.190909

In [71]:
df1.head(50)

,pt_identifier,Diag_desc,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender,Weight,Most_responsible,pre_admit,post_admit,secondary,Lactate_adjusted,WBC_adjusted
0,H1000412,0,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,F,NaN,0,0,0,0,0.000000,0.000000
1,H1000412,0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0.000000,0.945455
2,H1000412,0,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,F,NaN,0,0,0,0,0.000000,0.000000
3,H1000412,0,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0.000000,1.090909
4,H1000412,0,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,F,NaN,0,0,0,0,0.000000,0.000000
5,H1000412,0,763.0,126.0,64.0,69.0,37.0,10.0,94.0,81.0,F,NaN,0,0,0,0,0.000000,0.000000
6,H1000412,0,929.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0.000000,1.009091
7,H1002243,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0.000000,0.963636
8,H1002243,0,1405.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0.000000,1.090909
9,H1002797,0,0.0,166.0,90.0,58.0,36.7,18.0,99.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
10,H1002797,0,166.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.554545
11,H1002797,0,168.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.272727,0.000000
12,H1002797,0,6507.0,151.0,90.0,61.0,36.0,20.0,100.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
13,H1002797,0,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.590909
14,H1002797,0,6530.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.500000,0.000000
15,H1002797,0,6966.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.600000
16,H1002797,0,8663.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.936364
17,H1002797,0,8949.0,149.0,92.0,71.0,37.1,16.0,96.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
18,H1002797,0,9633.0,144.0,87.0,76.0,36.9,18.0,94.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
19,H1002797,0,9943.0,138.0,78.0,79.0,36.6,18.0,94.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
20,H1002797,0,10054.0,131.0,78.0,56.0,36.9,18.0,98.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
21,H1002797,0,10584.0,128.0,75.0,62.0,36.9,18.0,98.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
22,H1002797,0,10794.0,140.0,82.0,59.0,36.9,18.0,94.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
23,H1002797,0,0.0,149.0,87.0,67.0,36.7,18.0,100.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
24,H1002797,0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.436364
25,H1002797,0,338.0,147.0,91.0,63.0,NaN,18.0,97.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
26,H1002797,0,0.0,146.0,85.0,62.0,36.5,16.0,99.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
27,H1002797,0,84.0,140.0,82.0,57.0,36.8,18.0,98.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
28,H1002797,0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.600000
29,H1002797,0,220.0,137.0,81.0,58.0,36.8,17.0,97.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
30,H1002797,0,284.0,131.0,81.0,65.0,NaN,18.0,99.0,66.0,F,NaN,0,0,0,0,0.000000,0.000000
31,H1002797,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,F,NaN,0,0,0,0,0.000000,0.472727
32,H1003037,0,0.0,102.0,53.0,108.0,36.8,22.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
33,H1003037,0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,1.680769,0.000000
34,H1003037,0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.000000,0.018182
35,H1003037,0,0.0,94.0,62.0,80.0,36.3,18.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
36,H1003037,0,43.0,99.0,63.0,98.0,36.9,16.0,97.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
37,H1003037,0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.000000,0.663636
38,H1003037,0,0.0,105.0,47.0,106.0,36.4,17.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
39,H1003037,0,105.0,82.0,35.0,93.0,NaN,16.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
40,H1003037,0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.000000,0.981818
41,H1003037,0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.965385,0.000000
42,H1003037,0,198.0,105.0,50.0,69.0,NaN,18.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
43,H1003037,0,282.0,111.0,46.0,95.0,NaN,16.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
44,H1003037,0,322.0,134.0,58.0,104.0,NaN,16.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
45,H1003037,0,439.0,126.0,43.0,95.0,NaN,16.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
46,H1003037,0,532.0,118.0,51.0,80.0,36.7,18.0,100.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
47,H1003037,0,887.0,100.0,26.0,66.0,NaN,16.0,99.0,65.0,M,88.0,0,0,0,0,0.000000,0.000000
48,H1003037,0,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.392308,0.000000
49,H1003037,0,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,M,88.0,0,0,0,0,0.000000,0.600000

In [72]:
df1.to_csv('stage5_1c.csv')